.feynman {
    min-height: 890px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url(../../images/feynman.png);
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: bottom left;
    box-sizing: border-box;
    padding-top: 100px;
}