.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-size: 877px;
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
    animation: rotation_anim 20s linear infinite;
}