@keyframes rotation_anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0 auto;
    position: relative;
}
.header {
    min-height: 600px;
    max-height: 756px;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 64px;
    z-index: 2;
    overflow: hidden;

}
.logo {
    width: 228px;
    height: 32px;
}
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url(../images/logo_place_header.svg);
}
.header__title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    align-items: center;
    width: 730px;
    margin: 0;
    position: relative;
    z-index: 2;
}
.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    z-index: 2;
}
.header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    text-decoration: none;
    color: #2f80ed;
}
.header__main-illustration {
    height: 608px;
    width: 765px;
    background-image: url(../images/two_again.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.header__square-pic {
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
    animation: rotation_anim 20s linear infinite;
}
.padding-top-between-blocks {
    padding-top: 100px;
}
.margin-top-between-blocks {
    margin-top: 100px;
}
.description {
    margin: 0 auto;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.two-columns {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two-columns__brief {
    width: 175px;
    margin: 0 auto;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 17px;
    font-weight: normal;
}
.two-columns__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin-top: 0;
    gap: 30px;
    margin: 0;
}
.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}
.techniques {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.cards {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 60px 100px;
}
.cards__item {
    width: 240px;
}
.cards__item:nth-of-type(1) {
    margin-bottom: 60px;
}
.cards__item:nth-of-type(2) {
    margin-bottom: 60px;
}
.cards__item:nth-of-type(3) {
    margin-bottom: 60px;
}
.cards__image {
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px;
    border-radius: 50%;
    overflow: hidden;
}
.cards__title {
    width: 100%;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 43px;
    text-align: center;
}
.cards__description {
    width: 100%;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 16px;
    text-align: center;
}
.video {
    padding-top: 100px;
    box-sizing: border-box;
    margin-bottom: -60px;

}
.video__iframes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 50px;
    gap: 20px;
}
.oakley {
    margin: 0 auto;
    padding-top: 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
.feynman {
    min-height: 890px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: bottom left;
    box-sizing: border-box;
    padding-top: 100px;
}
.feynman__title {
    margin: 0 auto;
    max-width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    box-sizing: border-box;
}
.feynman__subtitle {
    margin-top: 70px;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0; 
}
.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    bottom: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}
.digits {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.section-title {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
.table {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.table__cell {
    width: 250px;
    padding-top: 60px;
}
.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}
.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
}


.khan {
    padding-top: 105px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin: 0 auto;
}
.khan__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.khan__quote {
    width: 790px;
    margin-top: 50px;
    margin-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
}
.khan__quote-author {
    margin-bottom: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}
.khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.khan__book-container {
    padding-top: 68px;
    display: flex;
    flex-direction: row;
}
.khan__book-pic {
    width: 608px;
    height: 620px;
    margin-right: 48px;
    padding: 0;
}
.khan__buy-link {
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.kaufman {
    background-color:  #1f1f1f;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding-top: 90px;
    padding-bottom: 90px;
}
.section-title_theme_dark {
    color: white;
    position: relative;
    z-index: 2;
}
.section-subtitle_theme_dark {
    color: white;
}
.table__heading_theme_dark {
    color: white;
}
.table__text_theme_dark {
    color: white;
}
.table__cell_theme_dark {
    width: 200px;
    position: relative;
    padding-top: 80px;
    z-index: 2;
}
.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-size: 877px;
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
    animation: rotation_anim 20s linear infinite;
}
.resources {
    padding-top: 100px;
    padding-bottom: 217px;
    box-sizing: border-box;
}
.resources__logo-zone {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    margin: 0 auto;
    width: 1100px;
}
.resources__link {
    width: 270px;
    height: 38px;
}
.footer {
    display: flex;
    justify-content: center;
    min-height: 350px;
    background-color: #1f1f1f;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 0;
    box-sizing: border-box;
}
  
  .footer__columns {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}
  
  .footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    justify-content: space-between;
}
.logo_place_footer{
    width: 228px;
    height: 32px;
}
  
  .footer__author {
    align-self: flex-start;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 18px;
    color: white;

}
  
  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 0px;
    margin: 0px;
}
  
  .footer__column-links {
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   padding-bottom: 16px;
}
  
  .footer__social-icon {
    padding-right: 10px;
    width: 16px;
    height: 16px;
}
  
  .footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding: 0;
    margin: 0;
}
